# Common /etc/hosts file
127.0.0.1 localhost
{{ pupmaster_ip }} puppet puppetmaster {{ pupmaster_hostname }}
{{ pupdb_ip }} puppetdb {{ pupdb_hostname }}
{{ pupconsole_ip }} puppetconsole {{ pupconsole_hostname }}