q_all_in_one_install=n
q_backup_and_purge_old_configuration=n
q_backup_and_purge_old_database_directory=n
q_database_host={{ pupdb_hostname }}
q_database_install=n
q_database_port=5432
q_fail_on_unsuccessful_master_lookup=n
q_install=y
q_pe_database=y
q_puppet_cloud_install=n
q_puppet_enterpriseconsole_auth_database_name=console_auth
q_puppet_enterpriseconsole_auth_database_password={{ console_auth_db_pass }}
q_puppet_enterpriseconsole_auth_database_user=console_auth
q_puppet_enterpriseconsole_auth_user_email=admin@argo.local
q_puppet_enterpriseconsole_auth_password='seattle snow cones'
q_puppet_enterpriseconsole_database_name=console
q_puppet_enterpriseconsole_database_password={{ console_db_pass }}
q_puppet_enterpriseconsole_database_user=console
q_puppet_enterpriseconsole_httpd_port=443
q_puppet_enterpriseconsole_install=y
q_puppet_enterpriseconsole_master_hostname={{ pupmaster_hostname }}
q_puppet_enterpriseconsole_smtp_host=tstpupt104.unix.gsm1900.org
q_puppet_enterpriseconsole_smtp_password=
q_puppet_enterpriseconsole_smtp_port=25
q_puppet_enterpriseconsole_smtp_use_tls=n
q_puppet_enterpriseconsole_smtp_user_auth=n
q_puppet_enterpriseconsole_smtp_username=
q_puppet_symlinks_install=y
q_puppetagent_certname={{ pupconsole_hostname }}
q_puppetagent_install=y
q_puppetagent_certname={{ pupconsole_hostname }}
q_puppetagent_install=y
q_puppetagent_server={{ pupmaster_hostname }}
q_puppetca_install=n
q_puppetdb_database_name=pe-puppetdb
q_puppetdb_database_password={{ pupdb_db_pass }}
q_puppetdb_database_user=pe-puppetdb
q_puppetdb_hostname={{ pupdb_hostname }}
q_puppetdb_install=n
q_puppetdb_port=8081
q_puppetmaster_enterpriseconsole_hostname=localhost
q_puppetmaster_install=n
q_puppetmaster_certname={{ pupmaster_hostname }}
q_run_updtvpkg=n
q_vendor_packages_install=y
q_puppet_agent_first_run=n