q_all_in_one_install=n
q_backup_and_purge_old_configuration=n
q_database_install=n
q_install=y
q_puppet_cloud_install=n
q_puppet_enterpriseconsole_install=n
q_puppet_symlinks_install=y
q_puppetagent_certname={{ pupmaster_hostname }}
q_puppetagent_install=y
q_puppetagent_server={{ pupmaster_hostname }}
q_puppetdb_hostname={{ pupdb_hostname }}
q_puppetdb_install=n
q_puppetdb_port=8081
q_puppetmaster_certname={{ pupmaster_hostname }}
q_puppetmaster_dnsaltnames={{ pupmaster_salt_hostnames }}
q_puppetmaster_enterpriseconsole_hostname={{ pupconsole_hostname }}
q_puppetmaster_enterpriseconsole_port=443
q_puppetmaster_install=y
q_run_updtvpkg=n
q_vendor_packages_install=y
q_puppet_agent_first_run=n